<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">AmountTotal</th>
        <th scope="col">Detail</th></tr>
    </thead>
    <tbody>
    <tr th:each="bookObj, loop :${bookList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${bookObj.id}"></td>
        <td th:text="${bookObj.name}"></td>
        <td th:text="${bookObj.amount}"></td>
        <td th:text="${bookObj.amountTotal}"></td>
        <td>
            <a th:href="@{/detail(id=${bookObj.id})}">
                Detail
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/pay}">Trả</a>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>