<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<a href="/">Quay về trang chính</a>
<h2 class="d-flex justify-content-center">Thông tin giỏ hàng</h2>
<table class="table">
    <thead>
    <tr>
        <th>Tên</th>
        <th>Giá</th>
        <th>Số lượng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${cart.keySet()}">
        <td th:text="${product.name}" class="table-secondary"></td>
        <td th:text="${product.price}" class="table-success"></td>
        <td th:text="${cart.get(product)}" class="table-danger"></td>
    </tr>
    <tr class="table-dark">
        <td>Tổng tiền:</td>
        <td th:text="${total}" class="table-dark"></td>
    </tr>
    <tbody>
</table>
</body>
<script src="/js/bootstrap.min.js"></script>
</html>