<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Danh sách sản phẩm</h2>
<a href="/shopping-cart">Giỏ Hàng Của Bạn</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Add To Cart</th>
    </tr>
    <th:block th:each="product:${productList}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><img th:src="${product.imgLink}" alt=""></td>
            <td><a th:href="@{/detail(id=${product.id})}" style="width: 50px;height: 50px">Detail</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>