<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add Music</h2>
<form action="/create" method="post" th:object="${musicForm}" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Singer</label>
        <input type="text" th:field="*{singer}">
    </div>
    <div>
        <label>Type</label>
        <input type="text" th:field="*{type}">
    </div>
    <div>
        <label>Link</label>
        <input type="file" th:field="*{music}">
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>